body
  background-color: #809FFF
#main
  width: 700px
  background-color: white
  margin-left: auto
  margin-right: auto
  margin-top: 20px
  padding-left: 10px
  padding-right: 10px
  border: 1px black solid
#session_nav
  ol
    list-style-type: none
    margin: 0
    float: right
    li
      float: left
      padding: 5px

.clear
  clear: both
